server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: git@github.com:abdelmoughith/microservices-config.git
          clone-on-start: true
          private-key: ~/.ssh/id_ed25519
